body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('nave1.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
     width: 100%;
      font-weight: 85%;
       padding-top:3%;
        padding-bottom: 0%;
         height: 20vh;
          margin: 0;    
}
* {
    font-family: 'Press Start 2P', cursive;
}
.pagina-inicial {
    display: flex;
     flex-direction: column;
      text-align: center;
}
.pagina-inical, header {
    font-size: 200%;
     text-align: center;
      align-items: center;
       color:rgb(255, 0, 0)

}
.personagens {
    position: absolute;
    top: 20px;       
    right: 5%;
    text-align: right;
}
.personagens a {
    color: #ff0000;
    text-decoration: none;
    font-size: 130%; 
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: 0.4s;
    display: inline-block; 
    margin-left: 20px;     
    padding: 0;            
}

.personagens a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #ff0000;
.main {
    text-align: center;
     align-items: center;
      padding-top: 1%;
       color: rgb(0, 0, 0);
        -webkit-text-stroke: 0.1px #ff0000;}
.main, h1 {
    font-size: 200%;
}
.main, h2 {
    font-size: 125%;

}
.start {
    text-align: center;
}
.start button {
    background-color: rgb(255, 0, 0);
     color: rgb(255, 255, 255);
      font-size: 250%;
       padding: 15px 40px;
        border-radius: 35px;
         overflow: hidden;
          border: 0.5vh solid white;
           cursor: pointer;
            transition: 0.8s;
             animation: brilhoPulse 5s infinite alternate;
}
.start button:hover {
    background-color: rgb(9, 0, 0);
    color: #ff0404;
    border: 0.5vh solid #ff0000;
}
@keyframes brilhoPulse {
    from {
        box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), inset 0 0 10px rgba(255, 0, 0, 0.3);
    }
    to {
        box-shadow: 0 0 30px rgba(255, 0, 0, 1), inset 0 0 20px rgba(255, 0, 0, 0.6);
    }
}
.rodape {
   color: white;
    text-align:center;
     position: fixed;
      bottom: 0;
       left: 70px; 
        right: 0;   
         padding: 15px;
}
.menu {
    position: fixed;
     color: white;
      padding-left: 1%;
}
